*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.Hero{
    width: 100%;
    background-color: black;
    background: 
    linear-gradient(to left, #080808, #1e1e1ef3, #0f0416d7), 
    url('../../assets/redeemedherobackground.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* padding-bottom: 10px; */
}

.hero_top{
    width: 100%;
    height: 120px;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 120px;
}
.hero_logo{
    width: 20%;
    height: 80%;
    /* background-color: red; */
    background-image: url('../../assets/redeemedlogo.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero_links{
    padding: 20px 40px 20px 40px;
    background-color: white;
    display: flex;
    gap: 50px;
    border-radius: 50px;
}
.hero_links > p{
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: #662C89;
    cursor: pointer;
    line-height: 24px;
}

.hero_bottom{
    width: 100%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    padding: 20px 0px 50px 0px;
    gap: 90px;
}
.hero_bottom_left{
    width: 13%;
    height: 200px;
    /* background-color: green; */
    background-image: url('../../assets/rocket.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    animation: rocket-spin infinite 5s linear;
    margin-left: 100px;
}


@keyframes rocket-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

.hero_bottom_right{
    width: 50%;
    /* background-color: grey; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 30px;
}
.hero_date{
    padding: 10px;
    /* background-color: purple; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.hero_date_logo{
    width: 25px;
    height: 25px;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero_date > p {
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    color: #ffff;
}

.hero_large_text{
    font-size: 62px;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    line-height: 80px;
    text-align: center;
    color: #ffff;
}

.hero_btns{
    width: 100%;
    padding: 10px 0px 10px 0px;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    gap: 20px;
}
.hero_Register_btn{
    padding: 15px 50px 15px 50px;
    background-color: white;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
    color: #662C89;
    border-radius: 12px;
    cursor: pointer;
}
.hero_buystall_btn{
    padding: 15px 50px 15px 50px;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
    color: white;
    border-radius: 12px;
    cursor: pointer;
    border: 2.5px solid white;
}