.host_card{
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* background-color: yellow; */
}
.host_card_img{
    width: 100%;
    height: 200px;
    /* background-color: blue; */
}
.host_card_img > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.host_card > h3{
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: #ffffff;
    cursor: pointer;
    text-align: center;
}
.host_card > p{
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: #ffffff;
    cursor: pointer;
    line-height: 22px;
    text-align: center;
}



@media screen and (max-width: 768px) {

    .host_card{
        width: 180px;
        gap: 7px;
    }
    .host_card_img{
        height: 150px;
    }
    .host_card > p{
        line-height: 18px;
    }

}




@media screen and (min-width: 2500px) {

    .host_card{
        width: 800px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .host_card_img{
        width: 100%;
        height: 700px;
    }
    .host_card_img > img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    .host_card > h3{
        font-size: 70px;
        font-weight: 800;
        line-height: 90px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .host_card > p{
        font-size: 60px;
        font-weight: 400;
        line-height: 80px;
    }

}