*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.Landing{
    width: 100%;
}

.nbca{
    width: 100%;
    padding: 30px 40px 30px 40px;
    background-color: #ffffff;
}
.nbca_card{
    width: 100%;
    padding: 50px;
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 18px 0px lightgrey;
}
.nbca_card_left{
    width: 50%;
    /* background-color: yellow; */
}
.nbca_card_left_top > h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 25px;
    line-height: 36px;
}
.nbca_card_left_top > h3 >  span{
    font-weight: 600;
    color: darkblue;
}
.nbca_card_right{
    width: 40%;
    height: 400px;
    /* background-color: red; */
    background-image: url('../../assets/ngc2024.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.nbca_card_left > p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    margin-top: 10px;
}

.nbca_card_left > h4{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-top: 20px;
}

.ngc_card_holder{
    width: 100%;
    padding: 30px 40px 30px 40px;
    background-color: #FEEFF8;
}



@media screen and (max-width: 768px) {

    .nbca_card{
        padding: 10px;
        flex-direction: column-reverse;
        gap: 20px;
    }
    .nbca{
        padding: 30px 10px 30px 10px;
    }
    .nbca_card_left{
        width: 100%;
    }
    .nbca_card_right{
        width: 100%;
    }

}






@media screen and (min-width: 2500px){

    .nbca{
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .nbca_card{
        border-radius: 15px;
    }
    .nbca_card_left_top > h3{
        font-size: 70px;
        line-height: 70px;
    }
    .nbca_card_right{
        width: 45%;
        height: 800px;
    }
    
    .nbca_card_left > p{
        font-weight: 500;
        font-size: 50px;
        line-height: 90px;
        margin-top: 30px;
    }
    
    .nbca_card_left > h4{
        font-weight: 600;
        font-size: 50px;
        line-height: 70px;
        margin-top: 30px;
    }
    
    

}