.ngc_card_holder{
    width: 100%;
    padding: 30px 40px 30px 40px;
    background-color: #ffffff;
}

.ngc_card{
    width: 100%;
    padding: 50px;
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 18px 0px lightgrey;
}
.ngc_card_left{
    width: 50%;
    /* background-color: yellow; */
}
.ngc_card_left_top > h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 25px;
    line-height: 36px;
    color: black;
}
.ngc_card_left_top > h3 >  span{
    font-weight: 600;
    color: rgb(2, 96, 2);
}
.ngc_card_right{
    width: 40%;
    height: 400px;
    background-color: red;
}
.ngc_card_right > img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    object-position: center;
}

.ngc_card_left > p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    margin-top: 10px;
}

.apply_btn{
    padding: 15px 50px 15px 50px;
    background-color: x;
    background: linear-gradient(to right, darkblue, rgb(4, 23, 134), black);
    color: white;
    border: none;
    border-radius: 8px;
    margin-top: 30px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}





@media screen and (max-width: 768px) {

    .ngc_card{
        padding: 10px;
        flex-direction: column-reverse !important;
        gap: 20px;
    }
    .ngc_card_holder{
        padding: 30px 10px 30px 10px;
    }
    .ngc_card_left{
        width: 100%;
    }
    .ngc_card_right{
        width: 100%;
    }

}




@media screen and (min-width: 2500px) {

    .ngc_card_holder{
        width: 100%;
        padding: 30px 40px 30px 40px;
        background-color: #ffffff;
        margin-top: 150px;
    }
    .ngc_card_right{
        width: 45%;
        height: 960px;
        background-color: red;
    }
    
    .ngc_card_left > p{
        font-weight: 500;
        font-size: 50px;
        line-height: 90px;
    }
    
    .apply_btn{
        padding: 70px 120px 70px 120px;
        border-radius: 30px;
        margin-top: 50px;
        font-weight: 500;
        font-size: 60px;
    }

}